
body{
    font-family: fantasy, sans-serif;
    /* font-family: 'o', sans-serif; */
    background-color: white;
}

/* nav  */
.nav-section{
    background-color: rgba(79, 255, 88);
}
.nav-text a:hover{
    color: white;
    /* text-decoration: none; */
    
}

.i-bg{
    background-color: white;
    color: black;
}
.i-bg:hover{
    background-color: black;

}

.s-bg:hover{
    background-color: blue;
}
.o-bg:hover{
    background-color: green;
    color: white;
}
.m-b-color:hover{
    color: green;
    /* font-size: 50px; */
    /* border: 1px solid white; */
}
/* search section  */
#search-input{
    border: 1px solid rgb(79, 255, 88);
}
#search-input:focus{
    box-shadow: 1px 1px 5px rgb(79, 255, 88);
}
.search-button{
    background-color: rgb(79, 255, 88);
    color: white;
    border: 1px solid rgb(79, 255, 88);  
}
.search-button:hover{
    background-color: white;
    color: rgb(79, 255, 88); 
    border: 1px solid rgb(79, 255, 88);  
}
/* spinner section  */
#spinner-section{
    color: rgb(79, 255, 88);
    display: none;
}

/* empty fill  */
#fill-error{
    font-size: medium;
    display: none;
}
/* result section  */
#result-found{
    display: none;
}
#result-found h1{
    font-size: medium;
}
#result-text{
    color: rgb(79, 255, 88);
}
/* not found section  */
#not-found{
    display: none;
}

/* search result section */
.phone-title{
    color: rgb(79, 255, 88);
}
#show-more-display{
    display: none;
}
#show-more-button{
    display: none;
}

/* details button  */
.details-button{
    background-color: rgb(79, 255, 88);
    color: white;
    border: 1px solid rgb(79, 255, 88); 
}
.details-button:hover{
    background-color: white;
    color: rgb(79, 255, 88); 
    border: 1px solid rgb(79, 255, 88);  
}

/* phone details section  */
.details-photo{
    margin: 20px auto;
    align-items: center;
}
.details-photo h1{
    color: rgb(79, 255, 88);
}
#phone-details h4{
    text-align: end;
    font-size: 16px;
    color: rgb(79, 255, 88);
}

#phone-details p{
    font-size: 14px;
}

/* footer section  */
.footer-section{
    position: relative;
    min-height: 70vh;
  }

.footer-text{
     position: absolute;
     bottom: 0;
     background-color: rgb(29, 26, 26);
     width: 100%;
     color: rgb(160, 160, 160);
     text-align: center;
     padding: 10px;
 }
 .footer-text:hover{
     color: wheat;
 }